# Ignore virtual environment
myenv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and database
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environment configuration
Pipfile
Pipfile.lock
poetry.lock

# Ignore environment variables or secrets
.env
.env.local
.env.*.bkp

# Ignore package management
dist/
build/
*.egg-info/

# VSCode settings
.vscode/
